<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <h2>Coding Dojo Wall | Welcome {{user.first_name}} | <a href="/logout">Logout</a></h2>
    <div class="left">
        <h2>{{messages|length}} messages for you!</h2>
        {% for message in messages %}
            <div>
                <div>
                    <h3>{{message.sender}} said:</h3>
                    <p>{{message.content}}</p>
                </div>
                <div>
                    <a href="/destroy/message/{{message.id}}">Delete</a>
                </div>
            </div>
            {% endfor %}
    </div>
    <div class="right">
        <h2 class="text-center">Send a Message:</h2>
            <hr class="bg-warning">
            {% for user in users %}
                {% if user.id != session.user_id %}
                <form action="/post_message" method="post">
                    <input type="hidden" name="sender_id" value={{session.user_id}}>
                    <input type="hidden" name="receiver_id" value={{user.id}}>
                    <label for="receiver_id">Message {{user.first_name}}:</label>
                    <textarea name="content" cols="30" rows="3"></textarea>
                    <button>Send</button>
                </form>
                {% endif %}
            {% endfor %}
    </div>
</body>
</html>